@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Montserrat&display=swap");

:root {
  --color-primario: #232323;

  --color-secundario: #616161;

  --color-font: #fff;

  --color-agua: #428bbb;

  --color-fuego: #f37823;

  --color-fantasma: #79609f;

  --color-bicho: #709c3e;

  --color-planta: #9acb50;

  --color-hada: #fdb9e9;

  --color-psiquico: #f366b9;

  --color-electrico: #eed535;

  --font-family: "Montserrat", Courier, monospace, monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
  color: var(--color-font);
}

body {
  background-image: url("../img/body_bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  background-color: var(--color-primario);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 30px;
}

.container-card {
  max-width: 80%;
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  /* grid-template-columns: repeat(auto-fit, minmax(min(320px, 100%), 1fr)); */
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-auto-rows: 400px;
  gap: 20px;
  margin: 80px 0;
}

.card {
  border-radius: 10px;
  background-color: var(--color-primario);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-img {
  background-color: var(--color-font);
  width: 100%;
  height: 55%;
  border-radius: 10px;
  opacity: 0.09;
  text-align: center;
}

.img {
  width: 200px;
  position: relative;
  top: -70px;
}

.numero {
  color: var(--color-primario);
  font-size: 95px;
  opacity: 0.7;
  font-family: fantasy;
  display: block;
}

.card:hover .card-img {
  opacity: 1;
}

.card,
.numero,
.img,
.card-img,
.content {
  transition: 1s;
}

.card:hover .numero {
  transform: translateY(20px) scale(1.4);
}

.card:hover .img {
  transform: translateY(-30px) scale(1.3);
}

.card:hover {
  background-color: rgba(82, 82, 82, 0.6);
}

.content {
  width: 100%;
  height: 45%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  font-size: 16px;
}

.content-nombre {
  display: flex;
  justify-content: space-between;
}

.content-habilidad {
  display: flex;
  align-items: center;
  gap: 32px;
}

.tipo {
  padding: 5px;
  border-radius: 5px;
  margin-left: 70px;
}

.inline {
  display: block;
}

.electrico {
  background-color: var(--color-electrico);
}

.fuego {
  background-color: var(--color-fuego);
}

.normal {
  background-color: var(--color-secundario);
}

.agua {
  background-color: var(--color-agua);
}

.fantasma {
  background-color: var(--color-fantasma);
}

.bicho {
  background-color: var(--color-bicho);
}

.hada {
  background-color: var(--color-hada);
}

.psiquico {
  background-color: var(--color-psiquico);
}

.mas {
  margin-left: 30px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.scroll-container {
  height: 450px;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 20px;
}

.scroll-container::-webkit-scrollbar {
  height: 15px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: var(--color-primario);
  border-radius: 30px;
  width: 30px;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background: rgba(128, 128, 128, 0.357);
}

.scroll-container .img {
  left: -80px;
}

.card-scroll {
  width: 500px;
  height: 400px;
}

.card-scroll .tipo {
  margin-left: 150px;
}

.card-scroll .habilidad {
  margin-right: 80px;
}

@media screen and (max-width: 1200px) {
  .scroll-container {
    height: auto;
    flex-direction: row;
  }

  .card-scroll {
    width: 320px;
    height: 400px;
  }

  .scroll-container .img {
    left: 0;
  }

  .card-scroll .habilidad {
    margin-right: 0;
  }
  .card-scroll .tipo {
    margin-left: 70px;
  }
}
